.ProductCard{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.1),
      0 10px 10px rgba(255, 255, 255, 0.1);
      height: 200px;
      width: 200px;
      margin: 20px;
      
}
.ProductCard:hover{
    cursor: pointer;
}
.ProductCard img{
    height: 150px;
    padding-top: 5px;
}